.my-container {
    padding: 20px;
    font-family: sans-serif;
    height: 100vh !important;
    background:linear-gradient(0deg, rgb(136, 216, 176 , 0.7), rgba(71, 187, 185, 0.8)), url('https://i.ytimg.com/vi/FAKW2lh9r_4/maxresdefault.jpg');
    background-size:cover;
}
i {
    display: inline;
}